  {{define "content"}}
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-5">{{.Heading}}</h1>
      <form action="/signup" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="food" id="food" rows="4" placeholder="You are bringing..."></textarea>
        </div>
        <p>
          <button type="submit" class="btn btn-primary">Submit</button>
        </p>
      </form>
    </div>
    <div class="col-md-6">
      {{if .Users}}
      <div class="card">
        <div class="card-header">
        {{if .User.Name}}
          Thank you, {{.User.Name}}. You are bringing {{.User.Food}}.
        {{end}}
          Here's what other people are bringing:
        </div>
        <div class="card-body">
          <ul class="list-group">
          {{range .Users}}
            <li class="list-group-item">{{.ID}}. {{.Name}} agreed to bring {{.Food}} on {{.CreatedAt.Format "Monday, 1/02/06"}}</li>
          {{end}}
          </ul>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  {{end}}
